# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/

# Unit test / coverage reports
.pytest_cache/

# pyenv
.python-version

# Environments
.env
.venv/

# Allows you to have a custom config file in this directory
/*.ini

# You can create a directory in this repository (eg. 'my_assets/')
/*/
!/count/
!/.vscode/
!/.github/

# Store log files in the root directory
*.log
